<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aksharas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aksharas">
        <activity android:name=".actualthesaurus"></activity>
        <activity android:name=".dictionary" />
        <activity android:name=".splashsscreen">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter> </activity>
        <activity android:name=".originfile" />
        <activity android:name=".maheswarasutra" />
        <activity android:name=".thesaurus" />
        <activity android:name=".learning" />
        <activity android:name=".database" />
        <activity android:name=".homepage" />
        <activity android:name=".a" />
        <activity android:name=".aksharas" />
    </application>

</manifest>